font-family: 'Abril Fatface', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lora', serif;
font-family: 'Lemon', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Andika;
    font-weight: 500;
}

body{
    font-family: 'Dancing Script', cursive;
    background: #A9A9A9;
    color: #1C1C1C;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5 rem 10 rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.legenda-banner{
    font-family: Andika;
    font-weight: 500;
}

.logo{
    font-family: Abril Fatface;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #0f2c1c;
}

.menu{
   display: flex; 
   flex-direction: row;
   gap: 1.5rem;
   color: #2F4F4F;
}
.github{
    color: #022c2c;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
}


.hero{
    background:#C0C0C0;
    width: 100%;
    max-width: 2550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0rem 2rem;
    margin-bottom: 0; 
}

.hero-conteudo{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 3rem;
}

.destaque{
    font-family: Lora;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #098340;
}

.banner{
    position: relative;
    display: inline-block;
}

.banner img {
    display: block;
    width: 100%;
    height: 90%;
    border-radius: 15px; 
    margin-top: 0;

}

.h2-banner{
    position: relative; 
    top: -800px; 
    left: 10px;
    color: #fffdfd;
    font-family:Lemon;
    font-size: 30px;
}

.text-banner{
    position: relative; 
    top: -800px; 
    left: 10px;
    color: #fffdfd;
    font-family:Lemon;
    font-size: 15px;
}

.text-banner2{
    position: relative; 
    top: -800px; 
    left: 10px;
    color: #fffdfd;
    font-family:Lemon;
    font-size: 12px;
}

.buy-now-btn{
    position: relative; 
    top: -800px;
    left: 10px;
    font-family: Lora;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 40px;
    background-color: #fffdfd; 
    color: rgb(12, 12, 12); 
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.buy-now-btn:hover{
    background-color: #c5c9c5;
}

.detail-item {
    display: flex;
    position: relative; 
    top: -100px; 
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #C0C0C0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  

.header-container {
    display: flex;
    align-items: center; 
}

h1{
    font-family: Kanit;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px; 
}

h2{
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
}

.receitas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2 rem;
    margin: auto;
}

.receitas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.verde{
    font-family: Abril;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #025327;

}


.receita-h3{
    font-family: Abril;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #dad5d1;
}

.receitas-titulo{
    font-family: Kanit;
    font-size: 29px;
    font-weight: 300;
    color: #022c2c;
}

.receitas-subtitulo{
    font-family: Kanit;
    font-size: 25px;
    font-weight: 250;
    color: #000807;
}

.receitas-container{
        padding: 0 rem 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 2rem;

}

.receitas-card{
       background: #55a8c9;
       padding: 1rem;
       border-radius: 1.5rem; 
       display: flex;
       flex-direction: column;
       gap: 2rem;
       flex-basis:50rem;
}

.receitas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-imagens-container{
    width: 100%; 
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scroll-behavior: smooth;
}

.hero-imagens-container > figure {
    flex: 0 0 auto; 
    width: 100%;
    max-width: 700px;
}

.hero-imagens-container > figure >  figcaption {
    max-width: 100px; 
    margin: auto; 
    font-size: 20px; 
    color: #011d0d; 
    font-style: italic;
    text-transform: uppercase;
    text-align:justify; 
}

.hero-imagens-container > figure > img {
    display: block;
    width: 90vw;
    max-width: 600px;
    height: auto; 
    margin: 5%;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 1rem;
    border: 30px solid rgb(201, 211, 201);
    object-fit: contain; 
}

.hero-imagens-container > figure > img:hover {
    border-color: rgb(51, 95, 51); 
}

.arrow-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-arrow {
    background-color: #eff5f0;
    border: none;
    padding: 12px 12px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 60%;
}

.scroll-arrow:hover {
    background-color: #c5c9c5;
}

.newsletter-container {
    background-color: #02290a;
    border-radius: 15px;
    color: #fff;
    display: flex;
    padding: 120px;
    max-width: 800px; 
    margin: auto;
    margin-top: 50px;
  }
  
  .icon-container {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-container img{
    width: 100px;
    height: auto;
  }
  
  .text-container {
    flex-basis: 70%;
    padding: 0 20px;
  }
  
  .subscribe-form {
    display: flex;
  }
  
  input[type="email"] {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .newsletter-container {
      flex-direction: column;
      align-items: center;
    }
  
    .icon-container,
    .text-container {
      flex-basis: 100%;
    }
  
    .subscribe-form {
      flex-direction: column;
      width: 100%;
    }

    .subscribe-form:hover{
        background-color: #c5c9c5;
    }
  
    input[type="email"] {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
  
  footer {
    color:  #011d0d; 
    text-align: center; /* Center-align text */
    padding: 20px 0; /* Padding at top and bottom */
    font-family: Arial, sans-serif; /* Font style */
}

footer p {
    margin: 5px 0; 
}
